<!DOCTYPE html>
<html lang="en">
<body style="font-size:20px; padding:50px;">

  <% include ../partials/_header %>
  <link href="css/bootstrap.min.css" rel="stylesheet">


  <% urls.forEach((url) => { %>
    <p><ul><li><%= url.longURL %> ➟ <a href="http://localhost:3000/u/<%= url.shortURL %>">http://localhost:3000/u/<%= url.shortURL %></a> —


      <button type="sumbit"><a href="/urls/<%= url.shortURL %>">Update URL✍</a></button>

      <button type="submit"><form action="/urls/<%= url.shortURL %>?_method=DELETE" method="POST">Delete resource✄
      </button>
          </form>

    </li></ul></p>
  <% }) %>


  <div>
   <a href="/urls/new">Create a new shortened url.</a>
  </div>



</body>
</html>
<!--   <% for (var key in urls) { %>
    <table>
      <tr>
        <td><%= urls[key].shortURL %></td>
        <td> — </td>
        <td><%= urls[key].longURL %></td>
        <td> — </td>
        <td><a href="http://localhost:3000/u/<%= key %>"> ||| FOLLOW NOW!!!||| </a></td>
        <td> — </td>
        <td><a href="/urls/<%= key %>/edit">Update URL✄</a></td>
        <td>
          <form method="POST" action="/urls/<%= key %>?_method=DELETE">
            <button type="submit">Delete resource ✄</button>
          </form>
        </td>
      </tr>
    </table>
  <% } %> -->



<!-- Implement the above template to display 1) a list or table of shortened links, 2) a link to shorten a new URL

